
{% if vhost_.cert and not vhost_.http.port %}
server {
    listen 80;
    server_name {{ vhost_.domain }};
    return 301 https://$server_name$request_uri;
}
{% endif %}


server {
    server_name {{ vhost_.domain }};
    {% if not vhost_.cert %}
    listen {{ vhost_.http.port or 80 }};
    {% else %}
    listen {{ vhost_.http.port or 443 }} ssl;

    ssl_certificate /etc/letsencrypt/live/{{ vhost_.domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ vhost_.domain }}/privkey.pem;

    include /etc/nginx/includes/vhost_ssl.conf;
    {% endif %}

    root {{ vhost_.root }};
    access_log {{ vhost_.root }}/logs/access.log;
    error_log {{ vhost_.root }}/logs/error.log;

    index {% if vhost_.php %}index.php {% endif %}index.html index.htm;

    location /logs {
        deny all;
    }

    {{ vhost_.http.config_extra }}

    {% if vhost_.php %}
    location ~ \.php$ {
        fastcgi_index index.php;
        fastcgi_split_path_info ^(.+\.php)(.*)$;
        fastcgi_keep_conn on;
        include {{ vhost_dist.nginx.fastcgi_params }};
        fastcgi_pass {{ vhost_dist.php.fpm_sock }};
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
    {% endif %}
}

