server {
    listen 80;
    server_name {{ server.domain }};
{% if server.cert %}
    return 301 https://$server_name$request_uri;
}


server {
    listen 443 ssl;
    server_name {{ server.domain }};

    ssl_certificate /etc/letsencrypt/live/{{ server.domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ server.domain }}/privkey.pem;
    ssl_protocols TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!MD5;
{% endif %}

    access_log /srv/http/{{ server.domain }}/logs/access.log;
    error_log /srv/http/{{ server.domain }}/logs/error.log;

    index {% if server.http.php %}index.php {% endif %}index.html index.htm;

    location /logs {
        deny all;
    }

    location /.well-known {
        alias /srv/www/{{ server.domain }}/.well-known ;
    }

    {{ server.http.config_extra }}

    {% if server.http.php %}
    location ~ \.php$ {
        fastcgi_index index.php;
        fastcgi_split_path_info ^(.+\.php)(.*)$;
        fastcgi_keep_conn on;
        include {{ lamp.nginx.fastcgi_params }};
        fastcgi_pass {{ lamp.php.fpm_sock }};
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
    {% endif %}
}

